$primary: #651fff;
$secondary: #ff9100;

@font-face {
    font-family: IranYekan;
    font-weight: normal;
    src: url('../fonts/IRANYekanWebRegular.woff2');
}
@font-face {
    font-family: IranYekan;
    font-weight: 400;
    src: url('../fonts/IRANYekanWebMedium.woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
    direction: rtl;
    --mdc-theme-primary: #651fff;
    --mdc-typography-font-family: IranYekan;
}

.wrapper{
    width: 80%;
    margin: 1rem 10%;
}

.pair-matching .game{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5%;
}
.pair-matching .game img{
    max-width: 100%;
}
.pair-matching .game .card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
    border: 1px solid $primary;
    border-radius: 3px;
    box-shadow: 0 0 3px $primary;
    margin-bottom: .5%;
    cursor: pointer;
}
.pair-matching .game .card .front, .pair-matching .game .card .back{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.pair-matching .game .card .front{
    background: $primary;
    z-index: 2;
}
.pair-matching .game .card .back{
    background: #eee;
    transform: rotateY(180deg);
}
.pair-matching .game .card.flipped{
    transform: rotateY(180deg);
}
.pair-matching .game .card.solved{
    transform: rotateY(180deg);
    opacity: .3;
}
.pair-matching .game .card.solved .front{
    z-index: -1;
}
.pair-matching .game.size4 .card{
    width: 24%;
    padding-top: 24%;
}
.pair-matching .game.size6 .card{
    width: 16%;
    padding-top: 16%;
}
.pair-matching .game.size8 .card{
    width: 12%;
    padding-top: 12%;
}
.pair-matching .settings {
    display: flex;
    margin-bottom: 1rem;
}
.pair-matching .settings mwc-select{
    direction: ltr;
}
